<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Time</title>
    <link href="css/<%= css %>" rel="stylesheet"/>
</head>
<body>
    This page was loaded at <%= time %>
</body>
</html>